@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");
body {
  color: #fff;
  font-family: "Khula", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  border: 2px solid #252727;
  color: #2c4448;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  -webkit-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;
  background: -webkit-gradient(linear, left top, right top, from(#29323c), to(#485563));
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.start {
  padding: 5px;
  font-size: 1.5rem;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: #9c9090;
  -webkit-box-shadow: 10px 5px 10px 10px #000;
          box-shadow: 10px 5px 10px 10px #000;
  opacity: 0.7;
}

.time-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  padding: 5px;
  font-size: 1.5rem;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: #9c9090;
  -webkit-box-shadow: 5px 5px 5px 5px #000;
          box-shadow: 5px 5px 5px 5px #000;
  opacity: 0.7;
}

.time-btn:hover {
  border: 2px solid #252727;
  color: #626868;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16d9e3;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323c -4.6%, #485563 200.44%);
  -webkit-box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
          box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: -webkit-gradient(linear, left top, left bottom, to(#46aef7));
  background: linear-gradient(#46aef7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
